@charset "UTF-8";
/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

:root {
  --radius:20px;
  --radiusTap:0 0 20px 20px;
  --bgcolor: #e7def9;
  --white: #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", "Noto Serif JP", sans-serif;
}

.targetLogo {
  opacity: 0;
  transition: all 0.5s linear;
}

.openLogo {
  opacity: 1;
}

.headerPosition {
  display: none;
  width: 150px;
  height: auto;
  position: fixed;
  top: 14px;
  right: 20px;
  z-index: 90;
}

.headerPosition img {
  width: 100%;
  height: auto;
}

.startLogo .loaddd {
  width: 300px;
}

.loading_bg {
  width: 100vw;
  height: 100dvh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  transition: all 1s linear;
  /* ここから下はデザイン用 */
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.active {
  opacity: 0;
}

.active3 {
  display: none;
}

.target {
  opacity: 0;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  background-color: var(--bgcolor);
}

header {
  margin-bottom: 200px;
  position: relative;
}

.line::before {
  content: "";
  width: 1px;
  height: 50px;
  background-color: #000;
  display: block;
  margin: 0 auto;
  margin-top: 2rem;
}

.innerWrap h1 {
  position: absolute;
  top: 50px;
  z-index: 1;
  max-width: 100%;
  height: auto;
}

nav {
  border-bottom: 1px solid black;
}

nav ul {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: space-around;
}

nav ul li a:hover {
  filter: blur(2px);
}

h1 img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.innerWrap {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.myProf img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--radius);
}

.myProf {
  max-width: 50%;
}

.profBox {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding: 0 1rem;
}

.profText {
  padding-top: 3rem;
}

.myName h2 {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.profTextItem h3 {
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: var(--radius);
}

.profSubText {
  font-size: 0.9rem;
  font-weight: bold;
  padding-top: 0.2rem;
}

.profTitleBox {
  margin-top: 2rem;
  padding: 0.5rem;
}

.profMainText {
  margin-top: 0.25rem;
  padding-left: 1rem;
  line-height: 1.3;
  background-color: var(--white);
  padding: 1rem;
  border-radius: var(--radius);
  border: 1px solid black;
  box-shadow: 4px 4px 0 var(--bgcolor), 4px 4px 0 1px black;
}

.profProgramingLang {
  font-size: 2rem;
  letter-spacing: 0.3rem;
}

.sec01,
.sec02 {
  margin-top: 7rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
}

.innerWrapSec01 {
  padding: 0 1rem;
}

.siteCreated,
.programCreated {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.siteCreated p,
.programCreated p {
  margin-top: 0.2rem;
  font-weight: bold;
}

.siteBoxItem img,
.programBoxItem img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: var(--radius);
}

.siteBoxItem,
.programBoxItem {
  border: 1px solid black;
  background-color: var(--white);
  border-radius: var(--radius);
  width: 250px;
  box-shadow: 4px 4px 0 var(--bgcolor), 4px 4px 0 1px black;
  display: flex;
  flex-direction: column;
}

.siteBoxinnerWrap {
  padding: 1.5rem;
  margin-top: auto;
}

.descriptionTap {
  text-align: center;
  background-color: #000;
  color: var(--white);
  padding: 1rem 0;
  border-radius: var(--radiusTap);
  font-weight: 700;
}

.siteBoxItem h3,
.programBoxItem h3 {
  font-weight: 700;
  font-size: 1.7rem;
  margin-top: 1rem;
  text-align: center;
}

.boxSubText {
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 1rem;
}

.img1 img {
  height: 133px;
  overflow: hidden;
}

.img2 img {
  height: 133px;
  overflow: hidden;
}

.img3 img {
  height: 133px;
  overflow: hidden;
}

.img4 img {
  height: 133px;
  overflow: hidden;
}

.img5 img {
  height: 133px;
  overflow: hidden;
}

.siteBoxItem p,
.programBoxItem p {
  margin-top: 0.5rem;
}

.siteBox {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 2rem;
}

footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 6rem;
  text-align: center;
  border-top: 1px solid black;
  background-color: black;
  color: var(--bgcolor);
  font-weight: 700;
}

@media (max-width: 700px) {
  .headerPosition {
    display: block;
  }
  header {
    margin-bottom: 10px;
    position: relative;
  }
  .innerWrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }
  .profText {
    padding-top: 0.7rem;
  }
  .profBox {
    gap: 2rem;
    flex-direction: column;
    width: 100%;
  }
  .profTitleBox:nth-child(1) {
    margin-top: 0.1rem;
  }
  .siteBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .siteBoxItem img,
  .programBoxItem img {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: var(--radius);
  }
  .siteBoxItem,
  .programBoxItem {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */